article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #ffeeb0 url('../img/wallpaper/colour.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/wallpaper/colour.png', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/wallpaper/colour.png', sizingMethod='scale');
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
}
#desktop-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
#taskbar {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiM0NDQ3NGMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.8) 0%, rgba(68, 71, 76, 0.8) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 0.8)), color-stop(1%, rgba(68, 71, 76, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.8) 0%, rgba(68, 71, 76, 0.8) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(69, 72, 77, 0.8) 0%, rgba(68, 71, 76, 0.8) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.8) 0%, rgba(68, 71, 76, 0.8) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(69, 72, 77, 0.8) 0%, rgba(68, 71, 76, 0.8) 1%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc45484d', endColorstr='#cc000000', GradientType=0);
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#taskbar .start-btn {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 35px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}
#taskbar .start-btn:hover ul.menu {
  display: block;
}
#taskbar .start-btn ul.menu {
  background-color: #F1F1F1;
  width: 200px;
  height: auto;
  display: none;
  padding: 0 0 0 20px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0 7px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0 7px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0 7px rgba(0, 0, 0, 0.6);
}
#taskbar .start-btn ul.menu > li {
  width: 100%;
  height: 28px;
  display: block;
}
#taskbar .start-btn ul.menu > li:first-child a {
  border-top: none;
}
#taskbar .start-btn ul.menu > li a {
  border-top: 1px solid #333;
  width: 100%;
  height: 22px;
  display: block;
  padding: 6px 0 0 0;
  color: #333;
  text-decoration: none;
}
#taskbar .start-btn ul.menu > li a:hover {
  background-color: #e0e0e0;
}
